<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Targets.Seq" />
    </extensions>

    <targets>
        <target name="file" xsi:type="File" fileName="${basedir}/logs/log-${shortdate}.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message}|${exception:format=tostring}" />

        <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
            <target xsi:type="Seq" serverUrl="http://localhost:5341/" apiKey="" >
                <property name="App" value="Nikitin.FederalSubjects.Web.Server" as="App" />
                <property name="Logger" value="${logger}" as="Logger" />
                <property name="RequestUrl" value="${aspnet-request-url}" />
                <property name="Scope" value="${mdlc}" />
            </target>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.*" maxlevel="Warning" final="true" />

        <logger name="*" minlevel="Debug" writeTo="file, seq" />
    </rules>
</nlog>
